letsryde_flow.json
{
  "name": "LetsRyde Progress Portal APIs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "letsryde-user",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e21c3b6f-12c8-472e-836e-bdf14d02b8d0",
      "name": "Get User (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 300],
      "webhookId": "letsryde-get-user"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "filterValues": [
            {
              "column": "Mobile number",
              "action": "equals",
              "value": "={{ $json.query.mobile }}"
            }
          ]
        }
      },
      "id": "18f59d57-897b-4d43-9828-5ce026fc18d3",
      "name": "Lookup User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "letsryde-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "060d4b8e-e275-40ce-857e-324b126ab562",
      "name": "Update User (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 520],
      "webhookId": "letsryde-update-user"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columnToMatchOn": "Mobile number",
        "valueToMatchOn": "={{ $json.body['Mobile number'] }}",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "id": "7814b7e9-eabc-4b13-aec0-0d32bb3f9ff3",
      "name": "Update Sheet Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 520]
    }
  ],
  "pinData": {},
  "connections": {
    "Get User (Webhook)": {
      "main": [
        [
          {
            "node": "Lookup User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User (Webhook)": {
      "main": [
        [
          {
            "node": "Update Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
